# Datascience Capstone Week 3 - 1

In this Notebook, the table from the [link](https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M) containing all neighbourhoods of toronto will be cleaned.

In [ ]:
import pandas as pd

Lets use pandas to read the html page

In [ ]:
dfs = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

The first table in the page corresponds to the table we are interested in

In [10]:
df = dfs[0]
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [12]:
df.shape

(180, 3)

Let us drop all the rows where Borough is not assigned

In [15]:
df1 = df[df["Borough"]!="Not assigned"].reset_index(drop=True)
df1

,Postal Code,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

Now let us check if there are any rows with Neighborhood not assigned

In [27]:
df1[df1["Neighborhood"]=="Not assigned"]

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

There aren't any, which means our table is ready

In [30]:
df1.shape

(103, 3)